body{
    width: 100%;
    height: 100vh;
    background-color: hsl(0,0%, 94%);
    /* background-color: antiquewhite; */
    background-image: url(./images/code.png),url(./images/design.png);
    ;
    background-repeat: no-repeat;
    /* background-size:100% 100%; */
    background-position: left bottom;
    background-blend-mode: difference;
}